@font-face {
  font-family: Whitney;
  font-weight: 400;
  src: url(https://static1.squarespace.com/static/6413b3b74d7c7625056d2aa9/t/641895961c373a7d14b8c34d/1679332759259/WhitneyBook.otf);
}
@font-face {
  font-family: Whitney;
  font-weight: 500;
  src: url(https://static1.squarespace.com/static/6413b3b74d7c7625056d2aa9/t/641895a2cffbfc142b5292ac/1679332770889/WhitneyMedium.otf);
}
@font-face {
  font-family: Whitney;
  font-weight: 700;
  src: url(https://static1.squarespace.com/static/6413b3b74d7c7625056d2aa9/t/641895a729836f2a5a7fde58/1679332776182/WhitneySemibold.otf);
}
/* line 23, ../sass/global.scss */
* {
  font-family: Whitney !important;
}

/* line 27, ../sass/global.scss */
body {
  background-color: #ffffff;
}

/* line 31, ../sass/global.scss */
.header-nav {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0) 100%);
}

/* line 35, ../sass/global.scss */
footer {
  display: none;
}

/* line 39, ../sass/global.scss */
.header-actions {
  pointer-events: none;
}

/* line 43, ../sass/global.scss */
.header-actions a {
  pointer-events: all;
}

/* line 47, ../sass/global.scss */
.header-nav,
.header-actions {
  padding: 30px;
  padding-bottom: 0;
  box-sizing: border-box;
  width: 100% !important;
  flex: none;
  position: fixed;
  left: 0;
  top: 0;
}

@media (min-width: 800px) {
  /* line 60, ../sass/global.scss */
  .header-title {
    margin-top: 80px;
  }
}
@media (max-width: 800px) {
  /* line 66, ../sass/global.scss */
  .accordion-items-container {
    margin-top: -1em !important;
  }
}
/* line 71, ../sass/global.scss */
.header-nav-item {
  float: left;
}

/* line 75, ../sass/global.scss */
.header-nav-list {
  display: block;
}

/* line 79, ../sass/global.scss */
.header-nav-item {
  margin-bottom: .7em;
}

/* line 83, ../sass/global.scss */
.header-menu-nav-folder-content a,
.header-nav-list a,
.header-nav-item--active a,
#calacademywu-modal .modal-content a {
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  display: inline;
  padding: 6px !important;
  padding-left: 40px !important;
  padding-right: 40px !important;
  border: none;
  background-image: url("../svgs/highlight.svg") !important;
  background-color: transparent !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}
/* line 100, ../sass/global.scss */
.header-menu-nav-folder-content a div,
.header-nav-list a div,
.header-nav-item--active a div,
#calacademywu-modal .modal-content a div {
  background: none !important;
}

/* line 105, ../sass/global.scss */
.header-menu-nav-folder-content a {
  display: block;
}

/* line 109, ../sass/global.scss */
a[aria-current="page"],
.header-menu-nav-folder-content a:hover,
.header-nav-list a:hover,
.header-menu-nav-folder-content a:active,
.header-nav-list a:active,
#calacademywu-modal .modal-content a:hover,
#calacademywu-modal .modal-content a:active {
  filter: none;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

/* line 120, ../sass/global.scss */
.header-menu-nav-folder-content > div {
  margin-bottom: 2em;
  padding-left: 2em;
}

/* line 125, ../sass/global.scss */
.header-menu-nav-folder-content a {
  margin: 0;
  line-height: 1.3em;
}

/* line 130, ../sass/global.scss */
.horizontalrule-block div {
  display: none;
}

/* line 134, ../sass/global.scss */
.horizontalrule-block {
  width: 100%;
  height: 60px !important;
  background: none;
  background-image: url("../svgs/bee.svg");
  background-size: 60px 60px;
  background-position: center;
  background-repeat: no-repeat;
  transform: rotate(45deg);
  margin-top: 1em;
}

/* line 146, ../sass/global.scss */
.accordion-item__description p a {
  text-decoration: underline;
}

/* line 151, ../sass/global.scss */
.union-difference th {
  width: 30%;
}
/* line 154, ../sass/global.scss */
.union-difference td {
  width: 70%;
}
/* line 158, ../sass/global.scss */
.union-difference td, .union-difference th {
  vertical-align: top;
  text-align: left;
  padding: 1em;
}
/* line 164, ../sass/global.scss */
.union-difference th span {
  font-size: 1.2em;
  border-bottom: 3px solid #f0703a;
}
/* line 169, ../sass/global.scss */
.union-difference tr:nth-child(odd) {
  background-color: rgba(0, 0, 0, 0.05);
}
/* line 173, ../sass/global.scss */
.union-difference ul {
  list-style: square;
  margin: 0;
  padding-left: 1em;
}
/* line 179, ../sass/global.scss */
.union-difference h3 {
  font-size: 1em;
  margin: 0;
}
